<div class="page">
  <div class="header mat-elevation-z2">
    <nav mat-tab-nav-bar [tabPanel]="navPanel">
      <a
        mat-tab-link
        [active]="activeLink == link"
        (click)="navigateToPage(link)"
        *ngFor="let link of links"
      >{{link | uppercase}}</a>
    </nav>
  </div>
  <div class="content">
    <mat-tab-nav-panel #navPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
  <div class="footer mat-elevation-z2">
    <mat-toolbar>
      <div style="flex: 1 1 auto;"></div>
      <span>Per info e prenotazioni <a [href]="'mailto:' + mail">CONTATTACI</a></span>
    </mat-toolbar>
  </div>
</div>